::ng-deep .article-row {
  display: flex;
  margin: 10px 0;
}

::ng-deep .article-cell {
  flex: 1;
}

.header-row {
  margin-bottom: -5px;
}

.article-info-header {
  min-width: 400px;
}

.article-header {
  text-align: center;
  font-weight: bold;
}
