<div class="table-row header-row">
  <div class="table-cell table-info-cell table-header-cell"></div>

  <div class="table-cell table-header-cell">
    <span>Einzelpreis</span>
  </div>

  <div class="table-cell table-header-cell">
    <span>Anzahl</span>
  </div>

  <div class="table-cell table-header-cell">
    <span>Gesamtpreis</span>
  </div>
</div>

<mat-list>
  <ng-container *ngFor="let item of articles$ | async">
    <mat-divider></mat-divider>
    <app-article-item
      [article]="item"
      mat-list-item
    ></app-article-item>
  </ng-container>
</mat-list>
