.customer-form form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.customer-form mat-radio-button {
  margin-right: 10px;
}

.customer-form-group {
  display: flex;
}

.customer-form-group mat-form-field {
  width: 100%;
  margin-right: 10px;
}

.customer-form-group mat-form-field:last-child {
  margin-right: 0;
}

.customer-checkboxes-group {
  margin-bottom: 20px;
}

.customer-checkboxes-group span {
  text-decoration: underline;
  color: blue;
}

.customer-checkboxes-group mat-checkbox {
  margin-bottom: 10px;
}

::ng-deep .customer-checkboxes-group .mat-checkbox-label {
  white-space: pre-wrap;
}
